altgraph==0.17
astroid==2.4.2
isort
lazy-object-proxy==1.4.3
lxml==4.5.2
mccabe==0.6.1
Pillow==7.2.0
pyinstaller==3.6
pyinstaller-hooks-contrib
pylint
PyQt5==5.15.0
PyQt5-sip==12.8.1
python-docx==0.8.10
six
toml==0.10.1
wrapt==1.12.1
